@import "basic";
html{
	height:100%;
}
body{
	height:100%;
	margin:0px;
	padding:0px;
}
.container{
	min-height:100%;
	width:100%;
	position:relative;
}
img{
	width:100%;
}
.zhu{
	width:0.5rem;
	height:0.5rem;
	position:absolute;
	top:4.8rem;
	left:9.8rem;
}
.detail{
	display: none;
	background-color: rgba(0,0,0,0.8);
	width:100%;
	height:100%;
	position:fixed;
	z-index:9;
	left:0px;
	top:0px;
}
.box{
	width:14rem;
	height:count(504/2);
	border:1px solid white;
	position:absolute;
	left:50%;
	margin-left: -7rem;
	overflow: hidden;
	background: url("../images/2.jpg") no-repeat 0 0;
	background-size:count(411/2) count(504/2) ;
	background-color: rgb(221,221,221);
	top:50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	.pgroup{
		float: right;
		margin-right: 1rem;
	}
	p{
		font-size: 0.5rem;
		width:5rem;
		margin:0;
		margin-top: 0.5rem;
		font-family: "SimHei";
		line-height: 1.6;
	}
	p:first-child{

	}
}